<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="icon" href="./to-do-list.png">
    <title>MyVueProject</title>
</head>
<body style="background-color: rgb(44, 44, 44);">
    <div id = "app_container" style = "text-align:center;">
        <input id="inpt" type="text" placeholder="Task">
        <button @click="AddName" id="btn">SetTask</button>
        <h1 style="background-color: blanchedalmond;">To-Do-Tasks</h1>
        <button style="margin:25px;background-color: whitesmoke;border: none;padding: 5px;" @click="deleteName">Completed-the-first-task</button>
        <center><table style="border: 2px solid black;">
            <tr>
                <th>index</th>
                <th>AddedTasks</th>
            </tr>
            <tr v-for="(name,index) in names">
                <td> {{index}} </td>
                <td> {{name}} </td>
            </tr>
              
          </table></center>
       <h1 style="background-color: blanchedalmond;">Done-Tasks</h1>
       <center><table style="border: 2px solid black;">
        <tr>
            <th>index</th>
            <th>AddedTasks</th>
        </tr>
        <tr v-for="(deletedName,index) in deletedNames">
            <td> {{index}} </td>
            <td> {{deletedName}} </td>
        </tr>
          
      </table></center>
       <input style="margin:25px;background-color: whitesmoke;border: none;padding: 5px;" type="button" @click="reset" value="Delete-activities-history">

       <!-- <p v-else>Welcome unkown {{DailyTime()}}</p> -->
     </div>
     <script src="./js/vue.js"></script>
     <script>
         var vm=new Vue({
             el : '#app_container',
             data : {
                 skills:['html','css','js'],
                    date:new Date(),    
                    names:[],
                    deletedNames:[],
             },
             methods:{
                reset:function(){
                    this.deletedNames=[];
                } ,
                 DailyTime:function(){
                    var ampm;
                    var dailyTime=this.date.getHours();
                    if(dailyTime>=12){
                        ampm=' PM';
                        return 'time now is: ' + dailyTime +':'+this.date.getMinutes()+ampm;
                    }
                    else{
                        ampm=' AM'
                        return 'time now is: ' + dailyTime +':'+this.date.getMinutes()+ampm;
                    }
                
                 },
                 AddName:function(){
                     var input=document.getElementById('inpt').value;
                     if(input!='' && input!=this.names[this.names.length-1]){
                        this.names.push(input);
                     }
                         
                         },
                deleteName:function(){
                    if(this.names.length!=0){
                        var firstItem=this.names[0];
                    this.names.shift();
                    this.deletedNames.push(firstItem);
                    }
                
                
                }

                 
                
        
             }
         });
     </script>
</body>
</html>