<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>MyVueProj</title>
</head>
<body style="background-color: rgb(44, 44, 44);">
    <div id = "app_container" style = "text-align:center;">
        <input id="inpt" type="text" placeholder="your Name">
        <button @click="AddName" id="btn">SetTask</button>
        <h1>Added Names</h1>
       <ul>
        <li style="list-style: none;color: blanchedalmond;font-weight: bolder;font-size: 2vw;margin: 5vw;" v-for="(name,index) in names">
             {{index}} - {{name}} <button style="margin-right:18vw;margin-left: 18vw;" @click="deleteName">delete item</button><button @click="">job done</button>
        </li>
       </ul>
       <h1>Deleted Names</h1>
       <ul style="margin-top: 15vh;">
        <li style="list-style: none;color: blanchedalmond;font-weight: bolder;font-size: 2vw;margin: 5vw;" v-for="(deletedname,index) in deletedNames">
            {{index}} - {{deletedname}}
        </li>
       </ul>

       <!-- <p v-else>Welcome unkown {{DailyTime()}}</p> -->
     </div>
     <script src="./js/vue.js"></script>
     <script>
         var vm=new Vue({
             el : '#app_container',
             data : {
                 skills:['html','css','js'],
                    date:new Date(),    
                    names:[],
                    deletedNames:[],
             },
             methods:{
                 DailyTime:function(){
                    var ampm;
                    var dailyTime=this.date.getHours();
                    if(dailyTime>=12){
                        ampm=' PM';
                        return 'time now is: ' + dailyTime +':'+this.date.getMinutes()+ampm;
                    }
                    else{
                        ampm=' AM'
                        return 'time now is: ' + dailyTime +':'+this.date.getMinutes()+ampm;
                    }
                
                 },
                 AddName:function(){
                     var input=document.getElementById('inpt').value;
                     foo:if(input==''){
                         break foo;
                     }
                         this.names.push(input);
                         },
                deleteName:function(){
                    var firstItem=this.names[0];
                    this.names.shift();
                    this.deletedNames.push(this.names[0]);
                    
                }

                 
                
        
             }
         });
     </script>
</body>
</html>